<template>
  <div>
    <div class="content-top">
      <h3>Manage Site / Add new Promotions</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-2">
          Promotion Name
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" />
        </div>
      </div>
      <hr />
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/sass/mixins.scss';
</style>
