<template>
  <div>
    <div class="content-top">
      <h3>Manage Site / Promotions</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-5">
          <router-link :to="'/manage/promotion/add'" class="btn btn-primary"
            >Add new Promotions</router-link
          >
        </div>
        <div class="col-sm-7 text-right">
          <div
            style="display: inline-block; vertical-align: middle; margin-right: .5rem;"
          >
            <span class="text-primary"
              >Published ({{ publish.published }})</span
            >
            / <span class="">Unpublished ({{ publish.unPublished }})</span>
          </div>
          <label class="lang-switch" for="lang-switch">
            <input id="lang-switch" v-model="langSwitch" type="checkbox" />
            <span class="slider round">
              <span class="lang">en</span>
              <span class="lang">th</span>
            </span>
          </label>
        </div>
      </div>
      <hr />
      <div v-show="message" class="msg-content" v-html="message"></div>
      <ul v-show="promotions" class="promotion-list">
        <li v-for="promotion in promotions" :key="promotion.id">
          <div class="pic">
            <img
              :src="
                encodeURI(promotion.image.url)
                  .replace(/\(/g, `%28`)
                  .replace(/\)/g, `%29`)
              "
            />
          </div>
          <div class="content">
            <h5>{{ promotion.title }}</h5>
            <div class="mb-3">
              <span class="badge badge-primary">Duration</span>
              {{ promotion.started_at | date('DD MMM YYYY') }} -
              {{ promotion.ended_at | date('DD MMM YYYY') }}<br />
              <span class="badge badge-info">Term</span> {{ promotion.term }}
            </div>
            <p>
              {{ promotion.description }}
            </p>
            <hr />
            <div>
              <div class="float-right">
                <div class="toggle-text">
                  <input
                    :id="`chk-${index}`"
                    v-model="promotion.is_enabled"
                    type="checkbox"
                  />
                  <label
                    class="handle"
                    data-on="Published"
                    data-off="Unpublished"
                    :for="`chk-${index}`"
                  ></label>
                </div>
                <button class="btn btn-sm btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import api from '@/api'

export default {
  data() {
    return {
      langSwitch: true,
      promotions: [],
      message: null
    }
  },
  computed: {
    vendorId() {
      return this.$store.state.vendor.id
    },

    publish() {
      let published = 0
      let unPublished = 0

      this.promotions.forEach(x => {
        if (x.is_enabled) {
          published += 1
        } else {
          unPublished += 1
        }
      })

      return {
        published,
        unPublished
      }
    }
  },

  watch: {
    vendorId() {
      this.getPromotions(this.vendorId)
    },

    langSwitch(val) {
      const lang = val ? 'en' : 'th'
      this.getPromotions(this.vendorId, lang)
    }
  },

  mounted() {
    this.getPromotions(this.vendorId)
  },

  methods: {
    getPromotions(vendorId, lang) {
      this.promotions = []
      this.message = '<i class="icon-spin6 animate-spin"></i> Loading...'

      api.vendor
        .getPromotions(vendorId, lang)
        .then(res => {
          if (res.data.length) {
            this.promotions = res.data
            this.message = null
          } else {
            this.message = 'No Promotion'
          }
        })
        .catch(err => {
          console.error(err)
        })

      return this
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/sass/mixins.scss';

.promotion-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;
    @include clearfix();

    .pic {
      float: left;

      img {
        width: 12rem;
        height: 12rem;
        border-radius: 0.25rem;
        object-fit: cover;
      }
    }

    .content {
      margin-left: 13rem;

      p {
        color: #616161;
      }
    }
  }
}
</style>
