<template>
  <div>
    <div class="content-top">
      <h3>Manage Site / Add new Services &amp; Products</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-2">
          Product Name
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          Images
        </div>
        <div class="col-sm-10">
          <button class="btn btn-primary">
            Upload new or Select from Gallery
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          Price
        </div>
        <div class="col-sm-10">
          <div class="form-inline mb-2">
            <input type="text" class="form-control" :disabled="price.hide" />
            <div class="mx-3">-</div>
            <input type="text" class="form-control" :disabled="price.hide" />
            <select class="form-control ml-3" :disabled="price.hide">
              <option>thb</option>
              <option>usd</option>
            </select>
          </div>
          <div class="checkbox">
            <input id="check-hideprice" v-model="price.hide" type="checkbox" />
            <label for="check-hideprice">Hide Price</label>
            <div class="check"></div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          Descrtiption
        </div>
        <div class="col-sm-10">
          <textarea rows="7" class="form-control"></textarea>
          <small class="form-text text-muted">
            Please write about your detail of product in 1000 characters.<br />
            Please note that NO shop contact information shall be supposed be
            set here.<br />
            For your shop Homepage, Social Account, Phone number setting, please
            go to Account.
          </small>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="offset-sm-2 col-sm-10">
          <button class="btn btn-primary">Add</button>
          <router-link :to="'/manage/product'" class="btn btn-secondary"
            >Cancel</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/sass/mixins.scss';
</style>

<script>
export default {
  data() {
    return {
      price: {
        min: 0,
        max: 0,
        hide: false
      }
    }
  }
}
</script>
