<template>
  <div>
    <div class="content-top">
      <h3>Manage Site / Services &amp; Products</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-5">
          <router-link :to="'/manage/product/add'" class="btn btn-primary"
            >Add new Sevices &amp; Products</router-link
          >
        </div>
        <div class="col-sm-7 text-right">
          <div
            style="display: inline-block; vertical-align: middle; margin-right: .5rem;"
          >
            <span class="text-primary"
              >Published ({{ publish.published }})</span
            >
            / <span class="">Unpublished ({{ publish.unPublished }})</span>
          </div>
          <label class="lang-switch" for="lang-switch">
            <input id="lang-switch" v-model="langSwitch" type="checkbox" />
            <span class="slider round">
              <span class="lang">en</span>
              <span class="lang">th</span>
            </span>
          </label>
        </div>
      </div>
      <hr />
      <div v-show="message" class="msg-content" v-html="message"></div>
      <ul v-show="products" class="product-list">
        <li v-for="(product, index) in products" :key="product.id">
          <div class="pic">
            <img
              :src="
                encodeURI(product.images[0].url)
                  .replace(/\(/g, `%28`)
                  .replace(/\)/g, `%29`)
              "
            />
          </div>
          <div class="content">
            <h5>{{ product.name }}</h5>
            <p>
              {{ product.description }}
            </p>
            <hr />
            <div>
              <span class="price"
                >{{ product.price_min }} {{ product.price_currency }}</span
              ><span class="icon icon-heart"></span> {{ product.like }}
              <div class="float-right">
                <div class="toggle-text">
                  <input
                    :id="`chk-${index}`"
                    v-model="product.is_enabled"
                    type="checkbox"
                  />
                  <label
                    class="handle"
                    data-on="Published"
                    data-off="Unpublished"
                    :for="`chk-${index}`"
                  ></label>
                </div>
                <button class="btn btn-sm btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import api from '@/api'

export default {
  data() {
    return {
      langSwitch: true,
      products: [],
      message: null
    }
  },
  computed: {
    vendorId() {
      return this.$store.state.vendor.id
    },

    publish() {
      let published = 0
      let unPublished = 0

      this.products.forEach(x => {
        if (x.is_enabled) {
          published += 1
        } else {
          unPublished += 1
        }
      })

      return {
        published,
        unPublished
      }
    }
  },

  watch: {
    vendorId() {
      this.getProducts(this.vendorId)
    },

    langSwitch(val) {
      const lang = val ? 'en' : 'th'
      this.getProducts(this.vendorId, lang)
    }
  },

  mounted() {
    if (this.vendorId) {
      this.getProducts(this.vendorId)
    }
  },

  methods: {
    getProducts(vendorId, lang) {
      this.products = []
      this.message = '<i class="icon-spin6 animate-spin"></i> Loading...'

      api.vendor
        .getProducts(vendorId, lang)
        .then(res => {
          if (res.data.length) {
            this.products = res.data
            this.message = null
          } else {
            this.message = 'No Product'
          }
        })
        .catch(err => {
          console.error(err)
        })

      return this
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/sass/mixins.scss';

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;
    @include clearfix();

    .pic {
      float: left;

      img {
        width: 12rem;
        height: 12rem;
        border-radius: 0.25rem;
        object-fit: cover;
      }
    }

    .content {
      margin-left: 13rem;

      p {
        color: #616161;
      }
    }

    .price {
      color: #fff;
      background-color: #009688;
      padding: 0.25rem 0.5rem;
      display: inline-block;
      border-radius: 0.2rem;
    }

    .icon {
      margin-left: 1rem;
      color: #ff527a;
    }
  }
}
</style>
