<template>
  <div>
    <div class="content-top">
      <h3>Membership History</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-2">
          <h5>Current Plan</h5>
        </div>
        <div class="col-sm-10">
          Premium Term: 12 months<br />
          <small>(2018-03-06 ~ 2018-05-29)</small>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Upcoming Plan</h5>
        </div>
        <div class="col-sm-10">
          Premium Term: 12 months
          <router-link class="btn btn-primary ml-4" to="/account/membership"
            >Change Plan</router-link
          >
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Membership history</h5>
        </div>
        <div class="col-sm-10"></div>
      </div>
    </div>
  </div>
</template>
