<template>
  <div>
    <div class="content-top">
      <h3>Membership</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-2">
          <h5>Password</h5>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <label>Current password</label>
            <input
              v-model="password.current"
              type="password"
              class="form-control"
            />
            <small class="form-text text-muted"
              >You must provide your current password in order to change
              it.</small
            >
          </div>
          <div class="form-group">
            <label>New password</label>
            <input
              v-model="password.new"
              type="password"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Password confirmation</label>
            <input
              v-model="password.confirm"
              type="password"
              class="form-control"
            />
          </div>
          <button-save
            :text="'Save Password'"
            :save="savePassword"
          ></button-save>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Plan Info</h5>
        </div>
        <div class="col-sm-10">
          <div class="plan" :style="{ color: planColor }">
            {{ vendor.plan_id | plan }}
          </div>
          <small
            >{{ vendor.plan_start_date | date('DD MMM YYYY') }} -
            {{ vendor.plan_end_date | date('DD MMM YYYY') }}</small
          >
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Change Membership</h5>
          <a href="#"><small>Membership FAQ</small></a>
        </div>
        <div class="col-sm-10">
          <ul class="change-plan-list">
            <li class="gold">
              <div class="plan">
                <div class="header">Gold</div>
                <div class="content">
                  <strong>6 Months</strong><br />
                  <div class="price">
                    <span class="unit">฿</span> <span class="vl">18,000</span>
                  </div>
                  <div class="promotion-point">
                    <span class="lbl"
                      ><router-link to="/account/promotion-point"
                        >Promotion point</router-link
                      ></span
                    >
                    <span class="value">18</span>
                  </div>
                  <a class="btn btn-select-plan" @click="selectPlan(1, 1)"
                    >Select</a
                  >
                  <hr />
                  <strong>Annual</strong><br />
                  <div class="price">
                    <span class="unit">฿</span> <span class="vl">30,000</span>
                  </div>
                  <div class="promotion-point">
                    <span class="lbl"
                      ><router-link to="/account/promotion-point"
                        >Promotion point</router-link
                      ></span
                    >
                    <span class="value">30</span>
                  </div>
                  <a class="btn btn-select-plan" @click="selectPlan(1, 2)"
                    >Select</a
                  >
                </div>
              </div>
              <div class="shop-site">
                <div class="header">Shop site</div>
                <div class="content">
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-info"></i></div>
                    <div class="sh-txt">Shopinfo</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-mail"></i></div>
                    <div class="sh-txt">Inquiry</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-tag"></i></div>
                    <div class="sh-txt"><strong>1</strong> Promotion</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-box"></i></div>
                    <div class="sh-txt"><strong>3</strong> Product</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-picture"></i></div>
                    <div class="sh-txt"><strong>Unlimited</strong> Gallery</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-chat"></i></div>
                    <div class="sh-txt">Forum</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic">
                      <i class="icon icon-chart-area"></i>
                    </div>
                    <div class="sh-txt">Report</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                </div>
              </div>
            </li>
            <li class="premium">
              <div class="plan">
                <div class="header">Premium</div>
                <div class="content">
                  <strong>6 Months</strong><br />
                  <div class="price">
                    <span class="unit">฿</span> <span class="vl">30,000</span>
                  </div>
                  <div class="promotion-point">
                    <span class="lbl"
                      ><router-link to="/account/promotion-point"
                        >Promotion point</router-link
                      ></span
                    >
                    <span class="value">30</span>
                  </div>
                  <a class="btn btn-select-plan" @click="selectPlan(2, 1)"
                    >Select</a
                  >
                  <hr />
                  <strong>Annual</strong><br />
                  <div class="price">
                    <span class="unit">฿</span> <span class="vl">60,000</span>
                  </div>
                  <div class="promotion-point">
                    <span class="lbl"
                      ><router-link to="/account/promotion-point"
                        >Promotion point</router-link
                      ></span
                    >
                    <span class="value">60</span>
                  </div>
                  <a class="btn btn-select-plan" @click="selectPlan(2, 2)"
                    >Select</a
                  >
                </div>
              </div>
              <div class="shop-site">
                <div class="header">Shop site</div>
                <div class="content">
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-info"></i></div>
                    <div class="sh-txt">Shopinfo</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-mail"></i></div>
                    <div class="sh-txt">Inquiry</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-tag"></i></div>
                    <div class="sh-txt"><strong>3</strong> Promotion</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-box"></i></div>
                    <div class="sh-txt"><strong>Unlimited</strong> Product</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-picture"></i></div>
                    <div class="sh-txt"><strong>Unlimited</strong> Gallery</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic"><i class="icon icon-chat"></i></div>
                    <div class="sh-txt">Forum</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                  <div class="sh-row">
                    <div class="sh-ic">
                      <i class="icon icon-chart-area"></i>
                    </div>
                    <div class="sh-txt">Report</div>
                    <div class="sh-av"><i class="icon-ok"></i></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="mb-1 text-right">
            * 1 point =Value of ฿ 1,000
          </div>
          <span class="text-primary">Note</span><br /><br />

          *To cancel a membership, you must contact before the end of month to
          avoid being billed for the following month.<br />
          *We are afraid to say that we cannot accept your cancel request after
          confirming a deposit.
        </div>
      </div>
    </div>

    <modal-select-plan v-if="modalSelectPlan" @close="modalSelectPlan = false">
    </modal-select-plan>
  </div>
</template>

<script>
import ModalSelectPlan from '@/components/modal/select-plan'
import ButtonSave from '@/components/button-save'
import api from '@/api'
import { plan } from '@/config.json'

export default {
  components: {
    ButtonSave,
    ModalSelectPlan
  },

  data() {
    return {
      password: {
        current: null,
        new: null,
        confirm: null
      },
      modalSelectPlan: false
    }
  },

  computed: {
    vendor() {
      return this.$store.state.vendor
    },

    planColor() {
      const idx = plan.map(e => e.id).indexOf(this.vendor.plan_id)

      if (idx > -1) {
        return plan[idx].color
      } else {
        return '#000'
      }
    }
  },

  methods: {
    savePassword() {
      return api.vendor
        .updatePassword(this.vendor.id, this.password)
        .then(res => {
          return res
        })
        .catch(err => {
          return err
        })
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/sass/custom.scss';
@import '@/assets/sass/mixins.scss';

.change-plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 -0.4rem 1rem;
  @include clearfix();

  li {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    margin: 0 0.4rem;
    width: 18rem;

    &.gold {
      border-color: #e5bd51;

      .plan {
        .header {
          color: #fff;
          background-color: #e5bd51;
        }
      }
      .value {
        color: #e5bd51;
      }
      .btn-select-plan {
        background-color: #e5bd51;
      }

      .shop-site {
        .header {
          background-color: #e5bd51;

          &:before {
            border-bottom: 12px solid #e5bd51;
          }
        }

        .sh-ic {
          color: #e5bd51;
        }
      }
    }

    &.premium {
      border-color: #030303;

      .plan {
        .header {
          color: #fff;
          background-color: #030303;
        }
      }
      .value {
        color: #030303;
      }
      .btn-select-plan {
        background-color: #030303;
      }

      .shop-site {
        .header {
          background-color: #030303;

          &:before {
            border-bottom: 12px solid #030303;
          }
        }
      }
    }

    .plan {
      .header {
        text-align: center;
        text-transform: uppercase;
        padding: 0.2rem 0;
        font-weight: 600;
      }

      .content {
        padding: 0.5rem;
        text-align: center;
      }
    }
  }

  .price {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-top: 8px;

    .unit {
      font-size: 0.8em;
      vertical-align: top;
    }

    .vl {
      font-size: 2rem;
    }

    .mm {
      font-size: 0.5em;
      text-transform: lowercase;
    }
  }

  .promotion-point {
    display: table;
    margin: 0 auto;

    .lbl {
      display: table-cell;
      vertical-align: middle;
      width: 128px;
    }
    .value {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .free-point {
    margin-bottom: 4px;
    color: #ff0101;
    font-weight: 600;
    font-size: 16px;
  }

  .btn-select-plan {
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: #fff !important;
    text-align: center;
    width: 8rem;
  }

  hr {
    border-style: dashed;
  }

  .shop-site {
    .header {
      margin-top: 2rem;
      color: #fff;
      position: relative;
      text-align: center;
      padding: 0.25rem 0;
      font-weight: 600;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        position: absolute;
        top: -12px;
        left: 50%;
        margin-left: -12px;
      }
    }

    .content {
      padding: 0.5rem;
    }

    .sh-row {
      border-bottom: 1px dashed #bdbaba;
      display: table;
      width: 100%;
      padding: 0.5rem 0;

      .fa {
        font-size: 20px;
        text-align: center;
      }

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      .sh-ic,
      .sh-av {
        width: 15%;
        text-align: center;
        font-size: 18px;
      }

      .sh-txt {
        width: 70%;
      }

      &:last-child {
        border-bottom: 0 none;
      }
    }

    .icon-ok {
      color: $primary-color;
    }
  }
}
</style>
