<template>
  <div>
    <div class="content-top">
      <h3>Point History</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-2">
          <h5>Point Balance</h5>
        </div>
        <div class="col-sm-10"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Inprocess Point</h5>
        </div>
        <div class="col-sm-10"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Point history</h5>
        </div>
        <div class="col-sm-10">
          <button
            class="btn btn-primary btn-lg"
            style="width: 24rem; margin: 0 auto; display: block;"
          >
            Puchase / Use Point
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
