<template>
  <div>
    <div class="content-top">
      <h3>Promotion Point</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-2">
          <h5>Point Balance</h5>
        </div>
        <div class="col-sm-10">
          <span class="token-point"></span> 42 Point(s)
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Point Purchase</h5>
        </div>
        <div class="col-sm-10">
          <table class="point-table">
            <tr style="border-bottom: 1px solid #dbdbdb">
              <td><span class="token-point"></span></td>
              <td style="width: 6rem;">1 Point</td>
              <td style="width: 12rem;">฿ 1,000</td>
              <td>
                <button class="btn btn-primary" @click="selectPoint(0)">
                  Buy
                </button>
              </td>
            </tr>
            <tr style="border-bottom: 1px solid #dbdbdb">
              <td><span class="token-point"></span></td>
              <td>10 Points</td>
              <td>฿ 9,000 <small class="discount">฿ 1,000 OFF!</small></td>
              <td>
                <button class="btn btn-primary" @click="selectPoint(1)">
                  Buy
                </button>
              </td>
            </tr>
            <tr>
              <td><span class="token-point"></span></td>
              <td>20 Points</td>
              <td>฿ 16,000 <small class="discount">฿ 4,000 OFF!</small></td>
              <td>
                <button class="btn btn-primary" @click="selectPoint(2)">
                  Buy
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Use point</h5>
          <a href="#"><small>Point FAQ</small></a>
        </div>
        <div class="col-sm-10">
          <div style="width: 48rem;">
            <table class="table promotion-table mb-3">
              <tr class="main-cate">
                <td>Display / 7 Days</td>
                <td>3 ~ 10 points</td>
                <td>Value: &#3647; 3,000 ~ 10,000</td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Brand Panel
                  <i
                    class="icon icon-info"
                    @click="modal.brandPanel = true"
                  ></i>
                </td>
                <td>10 points</td>
                <td>
                  <div class="value">Value: &#3647; 10,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-0"
                      v-model="usePoints"
                      type="checkbox"
                      value="0"
                    />
                    <label for="chk-0"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Banner Top
                  <i class="icon icon-info" @click="modal.bannerTop = true"></i>
                </td>
                <td>5 points</td>
                <td>
                  <div class="value">Value: &#3647; 5,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-1"
                      v-model="usePoints"
                      type="checkbox"
                      value="1"
                    />
                    <label for="chk-1"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Banner Middle
                  <i
                    class="icon icon-info"
                    @click="modal.bannerMiddle = true"
                  ></i>
                </td>
                <td>3 points</td>
                <td>
                  <div class="value">Value: &#3647; 3,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-2"
                      v-model="usePoints"
                      type="checkbox"
                      value="2"
                    />
                    <label for="chk-2"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Recommended Vendor (7 days)
                  <i
                    class="icon icon-info"
                    @click="modal.recommendedVendor = true"
                  ></i>
                </td>
                <td>5 points</td>
                <td>
                  <div class="value">Value: &#3647; 5,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-3"
                      v-model="usePoints"
                      type="checkbox"
                      value="3"
                    />
                    <label for="chk-3"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Recommended Vendor Venue (7 days)
                  <i
                    class="icon icon-info"
                    @click="modal.recommendedVendorVenue = true"
                  ></i>
                </td>
                <td>3 points</td>
                <td>
                  <div class="value">Value: &#3647; 3,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-4"
                      v-model="usePoints"
                      type="checkbox"
                      value="4"
                    />
                    <label for="chk-4"></label>
                  </button>
                </td>
              </tr>
              <tr class="main-cate">
                <td>Article</td>
                <td>5 ~ 20 points</td>
                <td>Value: &#3647; 5,000 ~ 20,000</td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Exclusive
                  <i class="icon icon-info" @click="modal.exclusive = true"></i>
                </td>
                <td>20 points</td>
                <td>
                  <div class="value">Value: &#3647; 20,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-5"
                      v-model="usePoints"
                      type="checkbox"
                      value="5"
                    />
                    <label for="chk-5"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Tie-in
                  <i class="icon icon-info" @click="modal.tieIn = true"></i>
                </td>
                <td>5 points</td>
                <td>
                  <div class="value">Value: &#3647; 5,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-6"
                      v-model="usePoints"
                      type="checkbox"
                      value="6"
                    />
                    <label for="chk-6"></label>
                  </button>
                </td>
              </tr>
              <tr class="main-cate">
                <td>Social / 7 Days</td>
                <td>1 ~ 10 points</td>
                <td>Value: &#3647; 1,000 ~ 10,000</td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Facebook
                  <i class="icon icon-info" @click="modal.facebook = true"></i>
                </td>
                <td>5 points</td>
                <td>
                  <div class="value">Value: &#3647; 5,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-7"
                      v-model="usePoints"
                      type="checkbox"
                      value="7"
                    />
                    <label for="chk-7"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Facebook Pin Top (7 Days)
                  <i class="icon icon-info" @click="modal.FBPinTop = true"></i>
                </td>
                <td>10 points</td>
                <td>
                  <div class="value">Value: &#3647; 10,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-8"
                      v-model="usePoints"
                      type="checkbox"
                      value="8"
                    />
                    <label for="chk-8"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Facebook Post &amp; Boost<i
                    class="icon icon-info"
                    @click="modal.FBPostBoost = true"
                  ></i>
                </td>
                <td>3 points</td>
                <td>
                  <div class="value">Value: &#3647; 3,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-9"
                      v-model="usePoints"
                      type="checkbox"
                      value="9"
                    />
                    <label for="chk-9"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Instagram
                  <i class="icon icon-info" @click="modal.instagram = true"></i>
                </td>
                <td>1 point</td>
                <td>
                  <div class="value">Value: &#3647; 1,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-10"
                      v-model="usePoints"
                      type="checkbox"
                      value="10"
                    />
                    <label for="chk-10"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Instagram Post &amp; Boost<i
                    class="icon icon-info"
                    @click="modal.IGPostBoost = true"
                  ></i>
                </td>
                <td>3 points</td>
                <td>
                  <div class="value">Value: &#3647; 3,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-11"
                      v-model="usePoints"
                      type="checkbox"
                      value="11"
                    />
                    <label for="chk-11"></label>
                  </button>
                </td>
              </tr>
              <tr class="sub-cate">
                <td class="indent">
                  Instagram with Video<i
                    class="icon icon-info"
                    @click="modal.IGVideo = true"
                  ></i>
                </td>
                <td>5 points</td>
                <td>
                  <div class="value">Value: &#3647; 5,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-12"
                      v-model="usePoints"
                      type="checkbox"
                      value="12"
                    />
                    <label for="chk-12"></label>
                  </button>
                </td>
              </tr>
              <tr class="main-cate">
                <td>
                  EDM <i class="icon icon-info" @click="modal.EDM = true"></i>
                </td>
                <td>5~ points</td>
                <td>
                  <div class="value">Value: &#3647; 5,000</div>
                  <button class="btn-toggle">
                    <input
                      id="chk-13"
                      v-model="usePoints"
                      type="checkbox"
                      value="13"
                    />
                    <label for="chk-13"></label>
                  </button>
                </td>
              </tr>
            </table>

            <div v-if="notEnoughPoint" class="alert alert-danger text-center">
              Your points balance is not enough for usage. Please add more point
              before using your points.<br />
              Current point: <strong>999</strong> Selected:
              <strong>1000</strong>
            </div>
            <button
              class="btn btn-primary btn-lg"
              style="width: 24rem; margin: 0 auto; display: block;"
              :disabled="disabledNext"
              @click="usePointModal"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>

    <modal-usepoint-info
      v-show="modal.brandPanel"
      @close="modal.brandPanel = false"
    >
      <h3 slot="header" class="title">Brand Panel</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/brand-panel.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Size</h5>
        <p>Desktop: 800 x 380<br />Mobile: 355 x 169 (710 x 338)</p>
        <h5>Term</h5>
        <p>
          1 Week (Mon ~ Sun)
        </p>
        <h5>Position</h5>
        <p>
          HOME / VENDOR / PRODUCT / TIPS / GALLERY / FORUM
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.bannerTop"
      @close="modal.bannerTop = false"
    >
      <h3 slot="header" class="title">Banner Top</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/banner-top.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Size</h5>
        <p>Desktop: 800 x 380<br />Mobile: 270 x 218 (540 x 436)</p>
        <h5>Term</h5>
        <p>
          1 Week (Mon ~ Sun)
        </p>
        <h5>Position</h5>
        <p>
          Desktop: HOME / VENDOR / PRODUCT / TIPS / GALLERY / FORUM<br />
          Mobile: Promotion card 1st ~ 4th
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.bannerMiddle"
      @close="modal.bannerMiddle = false"
    >
      <h3 slot="header" class="title">Banner Middle</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/banner-middle.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Size</h5>
        <p>Desktop: 800 x 380 <br />Mobile: 355 x 169 (710 x 338)</p>
        <h5>Term</h5>
        <p>
          1 Week (Mon ~ Sun)
        </p>
        <h5>Position</h5>
        <p>
          HOME / VENDOR / PRODUCT / TIPS / GALLERY / FORUM
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.recommendedVendor"
      @close="modal.recommendedVendor = false"
    >
      <h3 slot="header" class="title">Recommended Vendor</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/recommended-top.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Detail</h5>
        <p>Display your shop card in<br />"Recommend Vendor" Space.</p>
        <h5>Term</h5>
        <p>
          7 days
        </p>
        <h5>Position</h5>
        <p>
          Top Page
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.recommendedVendorVenue"
      @close="modal.recommendedVendorVenue = false"
    >
      <h3 slot="header" class="title">Recommended Vendor Venue</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/recommended-venue.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Detail</h5>
        <p>Display your shop card in<br />"Recommend Vendor" Space.</p>
        <h5>Term</h5>
        <p>
          7 days
        </p>
        <h5>Position</h5>
        <p>
          Top Page
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.exclusive"
      @close="modal.exclusive = false"
    >
      <h3 slot="header" class="title">Exclusive</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/exclusive.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Advertorial Article: 1 page HTML (Desktop / Mobile)
        </p>
        <h5>Reading time</h5>
        <p>
          1.5 ~ 2 minutes
        </p>
        <h5>Lead Position</h5>
        <p>
          HOME / TIPS / Facebook page
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info v-show="modal.tieIn" @close="modal.tieIn = false">
      <h3 slot="header" class="title">Tile-in</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/tile-in.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Advertorial Article: 3 ~ 5 vendors mix 1 page HTML (Desktop / Mobile)
        </p>
        <h5>Reading time</h5>
        <p>
          1.5 ~ 2 minutes
        </p>
        <h5>Lead Position</h5>
        <p>
          HOME / TIPS / Facebook page
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.facebook"
      @close="modal.facebook = false"
    >
      <h3 slot="header" class="title">Facebook</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/facebook.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Create new post and boost on HWL Facebook fan page
        </p>
        <h5>Type</h5>
        <p>
          1 week
        </p>
        <h5>Reach</h5>
        <p>
          Over 4,000 ~ 10,000
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.FBPinTop"
      @close="modal.FBPinTop = false"
    >
      <h3 slot="header" class="title">Facebook Pin Top</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/facebook-pin-top.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Post Boost &amp; Pin to Top of HWL Facebook fan page
        </p>
        <h5>Type</h5>
        <p>
          7 days
        </p>
        <h5>Engagement</h5>
        <p>
          Over 6,000 ~ 12,000
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.FBPostBoost"
      @close="modal.FBPostBoost = false"
    >
      <h3 slot="header" class="title">Facebook Post &amp; Boost</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/facebook-pin-top.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Boost Article on HWL Facebook fan page
        </p>
        <h5>Type</h5>
        <p>
          7 days
        </p>
        <h5>Engagement</h5>
        <p>
          Over 5,000 ~ 10,000
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.instagram"
      @close="modal.instagram = false"
    >
      <h3 slot="header" class="title">Instagram</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/ig-post.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Boost you shop photo in HWL Instagram account.
        </p>
        <h5>Type</h5>
        <p>
          1 post
        </p>
        <h5>Followers</h5>
        <p>
          Over 50,000 as of May.2018
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info
      v-show="modal.IGPostBoost"
      @close="modal.IGPostBoost = false"
    >
      <h3 slot="header" class="title">Instagram Post &amp; Boost</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/ig-boost.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Boost a part of your shop photo in HWL Instagram account.
        </p>
        <h5>Type</h5>
        <p>
          1 post + Boost
        </p>
        <h5>Followers</h5>
        <p>
          Over 50,000 as of May.2018
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info v-show="modal.IGVideo" @close="modal.IGVideo = false">
      <h3 slot="header" class="title">Instagram with Video</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/ig-video.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Contents</h5>
        <p>
          Boost a Video post of your shop photo in HWL Instagram account.
        </p>
        <h5>Type</h5>
        <p>
          1 Video post + Boost
        </p>
        <h5>Followers</h5>
        <p>
          Over 50,000 as of May.2018
        </p>
      </div>
    </modal-usepoint-info>

    <modal-usepoint-info v-show="modal.EDM" @close="modal.EDM = false">
      <h3 slot="header" class="title">EDM</h3>
      <div slot="pic" class="pic">
        <img src="/img/usepoint-info/edm.jpg" />
      </div>
      <div slot="details" class="details">
        <h5>Size</h5>
        <p>Desktop: 600 x 150<br />Mobile: 210 x 80 (640 x 160)</p>
        <h5>Type</h5>
        <p>
          1 time
        </p>
        <h5>Reach</h5>
        <p>
          Over 2,500 menbers
        </p>
      </div>
    </modal-usepoint-info>
  </div>
</template>

<script>
import ModalUsepointInfo from '@/components/modal/userpoint-info'

export default {
  components: {
    ModalUsepointInfo
  },

  data() {
    return {
      modal: {
        brandPanel: false,
        bannerTop: false,
        bannerMiddle: false,
        recommendedVendor: false,
        recommendedVendorVenue: false,
        exclusive: false,
        tieIn: false,
        facebook: false,
        FBPinTop: false,
        FBPostBoost: false,
        instagram: false,
        IGPostBoost: false,
        IGVideo: false,
        EDM: false
      },
      usePoints: [],
      notEnoughPoint: true,
      disabledNext: false
    }
  },

  methods: {
    usePointModal() {
      console.log(1)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/sass/custom.scss';
@import '@/assets/sass/mixins.scss';

.point-table {
  td {
    padding: 0.25rem 0;
  }

  .discount {
    color: #ff0101;
  }
}

.promotion-table {
  td {
    padding: 0.5rem;
    border: 1px solid #fff;
  }

  .main-cate {
    background-color: #e0e0e0;
  }

  .sub-cate {
    background-color: #f6f6f6;
  }

  .indent {
    padding-left: 2rem;
  }

  .value {
    display: inline-block;
    width: 12rem;
  }

  .icon {
    float: right;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    background-color: #fff;
    color: $primary-color;
    border-radius: 2.5rem;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  .btn-toggle {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;

    input[type='checkbox'] {
      visibility: hidden;
      display: none;
    }

    label {
      background-color: #fff;
      color: $primary-color;
      padding: 0.375rem 0.75rem;
      border-radius: 0.25rem;
      min-width: 6rem;
      line-height: 1.5;
      cursor: pointer;
      margin-bottom: 0;
      border: 1px solid #ff527a;

      &::before {
        content: 'Select';
      }
    }

    input[type='checkbox']:checked + label {
      background-color: $primary-color;
      color: #fff;
      border: 1px solid #ff3966;

      &::before {
        content: 'Selected';
      }
    }
  }
}
</style>
