<template>
  <div>
    <div class="content-top">
      <h3>Gallery</h3>
    </div>
    <div class="content-mdl">
      <div class="row"></div>
      <hr />
      <div v-show="message" class="msg-content">{{ message }}</div>
      <ul v-show="gallery.length" class="photo-list flex-fill">
        <li v-for="photo in gallery" :key="photo.id">
          <img :src="photo.image.thumbnail" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import api from '@/api'

export default {
  data() {
    return {
      message: null,
      gallery: []
    }
  },
  computed: {
    vendorId() {
      return this.$store.state.vendor.id
    }
  },

  watch: {
    vendorId() {
      this.getGallery(this.vendorId)
    }
  },

  mounted() {
    if (this.vendorId) {
      this.getGallery(this.vendorId)
    }
  },

  methods: {
    getGallery(vendorId) {
      this.gallery = []
      this.message = '<i class="icon-spin6 animate-spin"></i> Loading...'

      api.vendor
        .getGallery(vendorId)
        .then(res => {
          if (res.data.length) {
            this.message = null
            this.gallery = res.data
          } else {
            this.message = 'No Gallery'
          }
        })
        .catch(err => {
          console.error(err)
        })

      return this
    }
  }
}
</script>

<style lang="scss">
.photo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 25rem;

  li {
    float: left;
    margin: 0.125rem;

    img {
      width: 12rem;
      height: 12rem;
      border-radius: 0.25rem;
      object-fit: cover;
    }
  }
}
</style>
