<template>
  <div>
    <div class="content-top">
      <h3>Manage Site / Lead</h3>
    </div>
    <div class="content-mdl">
      <div class="row">
        <div class="col-sm-2">
          <h5>Lead</h5>
        </div>
        <div class="col-sm-10">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Phone</label>
              <input
                v-model="vendor.contact_phone_number"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-6">
              <label>Homepage</label>
              <input
                v-model="vendor.website_url"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-6">
              <label>Facebook</label>
              <input
                v-model="vendor.facebook_url"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-6">
              <label>Instagram</label>
              <input
                v-model="vendor.instagram_url"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-6">
              <label>Line</label>
              <input
                v-model="vendor.line_id"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <button-save :text="'Save Lead'" :save="saveLead"></button-save>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <h5>Autoreply Inquiry</h5>
        </div>
        <div class="col-sm-10">
          <div class="checkbox mb-2">
            <input id="check-autoreply" type="checkbox" />
            <label for="check-autoreply">Autoreply</label>
            <div class="check"></div>
          </div>
          <div class="mb-2">
            <button class="btn btn-primary">Upload Pricelist</button>
          </div>
          <hr />
          <div>
            <label>Autoreply text:</label><br />
            <div class="form-group">
              <textarea class="form-control" rows="7"></textarea>
            </div>
            <button class="btn btn-primary">Save Autoreply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonSave from '@/components/button-save'
import api from '@/api'

export default {
  components: {
    ButtonSave
  },

  data() {
    return {}
  },

  computed: {
    vendor() {
      return this.$store.state.vendor
    }
  },

  methods: {
    saveLead() {
      return api.vendor
        .updateLead(this.vendor.id, {
          contact_phone_number: this.vendor.contact_phone_number,
          website_url: this.vendor.website_url,
          facebook_url: this.vendor.facebook_url,
          instagram_url: this.vendor.instagram_url,
          line_id: this.vendor.line_id
        })
        .then(res => {
          return res
        })
        .catch(err => {
          return err
        })
    }
  }
}
</script>
