<template>
  <div
    class="dropbox"
    :class="{ 'is-uploading': isUploading, 'is-success': isSuccess }"
  >
    <form enctype="multipart/form-data" novalidate>
      <input
        id="input-file"
        type="file"
        name="photos"
        :disabled="isUploading || isSuccess"
        accept="image/*"
        class="input-file"
        @change="
          filesChange($event.target.files)
          fileCount = $event.target.files.length
        "
      />
    </form>
    <p v-if="isInitial" class="center">
      Drag your file here to begin<br />or click to browse
    </p>
    <div v-if="isUploading" class="center progress">
      <div class="progress-bar" :style="{ width: `${uploadProgress}%` }"></div>
    </div>
    <div
      v-if="isSuccess"
      class="img-holder"
      :class="{ selected: selectedImage === 'u' }"
      @click="selectedImage = 'u'"
    >
      <i
        class="del-img icon-cancel-circled"
        @click="deletePhoto(uploadedFile.Key)"
      ></i>
      <img :src="uploadedFile.Location" />
    </div>
  </div>
</template>

<script>
// import AWS from 'aws-sdk/global'
import config from '@/config.json'
import utils from '@/utils'

export default {
  data() {
    return {
      currentStatus: null,
      uploadedFile: null,
      uploadError: null,
      uploadProgress: 0,
      selectedImage: null
    }
  },

  computed: {
    isInitial() {
      return this.currentStatus === 'initial'
    },
    isUploading() {
      return this.currentStatus === 'uploading'
    },
    isSuccess() {
      return this.currentStatus === 'success'
    },
    isFailed() {
      return this.currentStatus === 'failed'
    }
  },

  mounted() {
    this.elInputFile = document.getElementById('input-file')

    this.reset()

    this.S3 = new AWS.S3({
      params: { Bucket: config.S3.bucketUpload }
    })
  },

  methods: {
    reset() {
      this.currentStatus = 'initial'
      this.uploadedFiles = []
      this.uploadError = null
      this.selectedImage = null
      this.elInputFile.value = ''

      return this
    },

    filesChange(files) {
      const photoKey = `${encodeURIComponent(
        'panda'
      )}/${utils.guid()}.${files[0].name.split('.').pop()}`

      this.S3.upload(
        {
          Key: photoKey,
          Body: files[0],
          ACL: 'public-read'
        },
        (err, data) => {
          if (err) {
            return alert(
              'There was an error uploading your photo: ',
              err.message
            )
          }

          this.currentStatus = 'success'
          this.uploadedFile = data
          this.selectedImage = 'u'
        }
      ).on('httpUploadProgress', progress => {
        this.currentStatus = 'uploading'
        this.uploadProgress = Math.floor(
          (progress.loaded / progress.total) * 100
        )
      })
    },

    deletePhoto(photoKey) {
      this.reset()

      this.S3.deleteObject({ Key: photoKey }, (err, data) => {
        if (err) {
          return alert('There was an error deleting your photo: ', err.message)
        }

        console.log(data)
        // alert('Successfully deleted photo.')
      })
    }
  }
}
</script>

<style lang="scss">
.dropbox {
  outline: 1px dashed #bdbdbd;
  outline-offset: -0.5em;
  background: #f5f5f5;
  height: 200px;
  position: relative;
  border-radius: 0.25rem;

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    user-select: none;
  }

  .progress {
    width: 60%;
    height: 0.5rem;
    margin: 0 auto;
  }

  .input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }

  &:not(.is-uploading):hover {
    background: #eee;
  }

  &.is-uploading,
  &.is-success {
    background: #fff;
    outline: none;

    .input-file {
      cursor: default !important;
    }
  }
}

.img-holder {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  padding: 4px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.selected {
    box-shadow: inset 0 0 0 4px #ff527a !important;
  }

  .del-img {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0.8rem;
    z-index: 1;
    cursor: pointer;
    color: #d50000;
  }
}
</style>
