<template>
  <div>
    <div class="content-top">
      <h3>Dashboard</h3>
    </div>
    <div class="mb-3">
      This month: {{ dateThisMonth | date('DD MMM YYYY') }} -
      {{ dateCurrent | date('DD MMM YYYY') }}
    </div>
    <div class="content-mdl card-list">
      <div class="tmpl">
        <div class="g-icon">
          <i class="icon id-goal"></i>
        </div>
        <div class="g-title">Reach</div>
        <div class="g-left">
          <div class="value">
            {{ reachThisMonth.toLocaleString() }}
          </div>
          <div class="lbl">this month</div>
        </div>
        <div class="g-right">
          <div class="value">
            {{ reachTotal.toLocaleString() }}
          </div>
          <div class="lbl">total</div>
        </div>
      </div>
      <div class="tmpl">
        <div class="g-icon">
          <i class="icon id-users"></i>
        </div>
        <div class="g-title">Visitors</div>
        <div class="g-left">
          <div class="value">
            {{ visitorThisMonth.toLocaleString() }}
          </div>
          <div class="lbl">this month</div>
        </div>
        <div class="g-right">
          <div class="value">
            {{ visitorTotal.toLocaleString() }}
          </div>
          <div class="lbl">total</div>
        </div>
      </div>
      <div class="tmpl">
        <div class="g-icon">
          <i class="icon id-network"></i>
        </div>
        <div class="g-title">Lead</div>
        <div class="g-left">
          <div class="value">
            {{ leadThisMonth.toLocaleString() }}
          </div>
          <div class="lbl">this month</div>
        </div>
        <div class="g-right">
          <div class="value">
            {{ leadTotal.toLocaleString() }}
          </div>
          <div class="lbl">total</div>
        </div>
      </div>
      <div class="tmpl">
        <div class="g-icon">
          <i class="icon id-favorite-heart-button"></i>
        </div>
        <div class="g-title">Saved</div>
        <div class="g-left">
          <div class="value">
            {{ savedThisMonth.toLocaleString() }}
          </div>
          <div class="lbl">this month</div>
        </div>
        <div class="g-right">
          <div class="value">
            {{ savedTotal.toLocaleString() }}
          </div>
          <div class="lbl">total</div>
        </div>
      </div>
      <div class="tmpl">
        <div class="g-icon">
          <i class="icon id-fireworks"></i>
        </div>
        <div class="g-title">Vendor Ranking</div>
        <div class="g-left">
          <div class="value">
            {{ vendorRankingThisMonth.toLocaleString() }}
          </div>
          <div class="lbl">this month</div>
        </div>
        <div class="g-right">
          <div class="value">
            {{ vendorRankingLastMonth.toLocaleString() }}
          </div>
          <div class="lbl">last month</div>
        </div>
      </div>
      <div class="tmpl">
        <div class="g-icon">
          <i class="icon id-speech-bubbles-comment-option"></i>
        </div>
        <div class="g-title">Forum Engagement</div>
        <div class="g-left">
          <div class="value">
            {{ forumEngagementThisMonth.toLocaleString() }}
          </div>
          <div class="lbl">this month</div>
        </div>
        <div class="g-right">
          <div class="value">
            {{ forumEngagementTotal.toLocaleString() }}
          </div>
          <div class="lbl">total</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import api from '@/api'
import { gaIds } from '@/config.json'

const dateTotal = '2015-01-01'

export default {
  data() {
    return {
      dateCurrent: moment().format('YYYY-MM-DD'),
      dateThisMonth: moment()
        .startOf('month')
        .format('YYYY-MM-DD'),
      reachThisMonth: '--',
      reachTotal: '--',
      visitorThisMonth: '--',
      visitorTotal: '--',
      leadThisMonth: '--',
      leadTotal: '--',
      savedThisMonth: '--',
      savedTotal: '--',
      vendorRankingThisMonth: '--',
      vendorRankingLastMonth: '--',
      forumEngagementThisMonth: '--',
      forumEngagementTotal: '--'
    }
  },
  computed: {
    vendorId() {
      return this.$store.state.vendor.id
    },
    vendorSlug() {
      return this.$store.state.vendor.slug
    }
  },

  watch: {
    vendorId() {
      this.initialize()
    }
  },

  mounted() {
    if (this.vendorId) {
      this.initialize()
    }
  },

  methods: {
    initialize() {
      this.getGAReport()
          .getVendorStat()
    },

    getGAReport() {
      gapi.client.request({
        path: '/v4/reports:batchGet',
        root: 'https://analyticsreporting.googleapis.com',
        method: 'POST',
        body: {
          reportRequests: [
            {
              viewId: gaIds,
              dateRanges: [
                { startDate: this.dateThisMonth, endDate: this.dateCurrent },
                { startDate: dateTotal, endDate: this.dateCurrent }
              ],
              metrics: [
                { expression: 'ga:pageviews' },
                { expression: 'ga:uniquePageviews' },
                { expression: 'ga:totalEvents' }
              ],
              filtersExpression: `ga:pagePath=~${this.vendorSlug}`
            }
          ]
        }
      }).then((res) => {
        const data = res.result.reports[0].data.rows[0].metrics

        this.reachThisMonth = parseInt(data[0].values[0], 10)
        this.reachTotal = parseInt(data[1].values[0], 10)
        this.visitorThisMonth = parseInt(data[0].values[1], 10)
        this.visitorTotal = parseInt(data[1].values[1], 10)
        this.leadThisMonth = parseInt(data[0].values[2], 10)
        this.leadTotal = parseInt(data[1].values[2], 10)

      }, console.error.bind(console))

      return this
    },

    getVendorStat() {
      api.vendor.getStat(this.vendorId, this.dateThisMonth, this.dateCurrent).then(res => {
        if (res.data) {
          this.savedThisMonth = res.data.likeByDateRange
          this.savedTotal = res.data.likeTotal

          if (res.data.vendorRanking.thisMonth) {
            this.vendorRankingThisMonth = res.data.vendorRanking.thisMonth.rank
          } else {
            this.vendorRankingThisMonth = 'n/a'
          }

          if (res.data.vendorRanking.lastMonth) {
            this.vendorRankingLastMonth = res.data.vendorRanking.lastMonth.rank
          } else {
            this.vendorRankingLastMonth = 'n/a'
          }

          this.forumEngagementThisMonth = res.data.forumEngagementByDateRange
          this.forumEngagementTotal = res.data.forumEngagementByTotal
        }
      })
      .catch(err => {
        console.error(err)
      })
    },

    setGAPagePath() {
      const slug = this.$store.state.vendor.slug
      const split = slug.split('-')

      this.GAPagePath = {
        firstWord: split[0] || '-undefined-',
        secondWord: split[1] || ''
      }
    }
  }
}
</script>
