<template>
  <div>
    <div class="content-top">
      <h3>
        Inbox <small>({{ inquiries.length }})</small>
      </h3>
    </div>
    <div class="mail-container flex-grow-1 d-flex">
      <div class="mail-left-container flex-shrink-0">
        <ul class="mail-list">
          <li
            v-for="inq in inquiries"
            :key="inq.id"
            :class="{
              active: inq.id === selectedId,
              'unread-inquiry':
                inq.read_at === null || inquiry.countUnreadMessages > 0
            }"
          >
            <a @click="selectInquiry(inq)">
              <span v-if="inq.count" class="count">({{ inq.count }})</span>
              <span class="from">{{ inq.first_name }} {{ inq.last_name }}</span>
              <span class="time">{{
                inq.created_at | date('YYYY-MM-DD hh:mm')
              }}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="mail-main-container flex-grow-1">
        <div v-if="inquiry" class="mail-content flex-column">
          <div class="header flex-shrink-0">
            <span class="from"
              >{{ inquiry.first_name }} {{ inquiry.last_name }}</span
            >
            <span class="time">{{
              inquiry.created_at | date('YYYY-MM-DD hh:mm')
            }}</span>
          </div>
          <div class="details flex-shrink-0">
            <div class="contact-info">
              <div class="dx"><strong>Email:</strong> {{ inquiry.email }}</div>
              <div class="dx">
                <strong>Tel:</strong> {{ inquiry.phone_number }}
              </div>
              <div class="dx">
                <strong>Line ID:</strong> {{ inquiry.line_id }}
              </div>
              <br />
              <div class="dx">
                <strong>Attendees:</strong> {{ inquiry.attendees }}
              </div>
              <div class="dx">
                <strong>Budget:</strong> {{ inquiry.budget }}
              </div>
              <div class="dx">
                <strong>Schedule:</strong> {{ inquiry.schedule }}
              </div>
              <br />
              <div class="dx">
                <strong>Request Via:</strong> {{ inquiry.request_via }}
              </div>
              <div class="dx">
                <strong>Request Info:</strong> {{ inquiry.request_info }}
              </div>
            </div>
          </div>
          <div class="msg-container flex-grow-1">
            <ul class="chat-content">
              <li
                v-for="msg in inquiry.messages"
                :key="msg.id"
                :class="{ 'other-msg': msg.user_id, 'my-msg': msg.vendor_id }"
              >
                <div class="msg-data">
                  <span class="msg-data-name">{{ msg.name }}</span>
                  <span class="msg-data-time">{{
                    msg.created_at | date('fromNow')
                  }}</span>
                </div>
                <div class="msg">
                  {{ msg.content }}
                </div>
              </li>
            </ul>
          </div>
          <div class="comment flex-shrink-0">
            <div class="form-group">
              <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="text-right">
              <button class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import api from '@/api'

export default {
  data() {
    return {
      inquiries: [],
      inquiry: null,
      selectedId: null,
      messageList: null,
      messageContent: null
    }
  },
  computed: {
    vendorId() {
      return this.$store.state.vendor.id
    }
  },

  watch: {
    vendorId() {
      this.getInquiries(this.vendorId)
    }
  },

  mounted() {
    if (this.vendorId) {
      this.getInquiries(this.vendorId)
    }
  },

  methods: {
    getInquiries(vendorId) {
      this.inquiries = []
      this.messageList = '<i class="icon-spin6 animate-spin"></i> Loading...'

      api.vendor
        .getInquiries(vendorId)
        .then(res => {
          if (res.data.length) {
            this.inquiries = res.data
            this.message = null
          } else {
            this.message = 'No Inquiry'
          }
        })
        .catch(err => {
          console.error(err)
        })

      return this
    },

    getInquiry(id) {
      this.selectedId = id

      this.inquiry = []
      this.messageContent = '<i class="icon-spin6 animate-spin"></i> Loading...'

      api.inquiry
        .get(id)
        .then(res => {
          this.inquiry = this.addFirstMsg(res.data)
        })
        .catch(err => {
          console.error(err)
        })

      return this
    },

    selectInquiry(inquiry) {
      inquiry.read_at = moment().format('YYYY-MM-DD hh:mm:ss')
      inquiry.countUnreadMessages = 0

      this.getInquiry(inquiry.id)

      return this
    },

    addFirstMsg(data) {
      const firstMsg = {
        user_id: data.user_id || 1,
        vendor_id: 0,
        name: `${data.first_name} ${data.last_name}`,
        content: data.message,
        created_at: data.created_at
      }

      data.messages.unshift(firstMsg)

      return data
    }
  }
}
</script>

<style lang="scss">
@import '../assets/sass/mixins';

.mail-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  li {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;

    &.unread-inquiry {
      background-color: #fff;
      font-weight: 600;
    }

    &.active {
      a {
        color: #ff527a !important;
      }
    }
  }

  a {
    padding: 0.75rem;
    display: block;
    cursor: pointer;
  }

  .time {
    float: right;
    font-size: 0.75rem;
  }
}

.mail-container {
  height: calc(100vh - 9.5rem) !important;
}

.mail-left-container {
  width: 20rem;
  overflow: auto;
}

.mail-content {
  height: 100%;
  display: flex;

  .header {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    padding: 0.75rem;

    .time {
      float: right;
      font-size: 0.75rem;
    }
  }

  .details {
    font-size: 0.75rem;
    border-bottom: 1px solid #eee;

    .contact-info {
      text-align: center;
    }

    .dx {
      display: inline-block;
      margin: 0.5rem 1rem;
    }
  }

  .msg-container {
    overflow: auto;
  }
}

.chat-content {
  list-style: none;
  margin: 0;
  padding: 0.75rem;

  li {
    @include clearfix();
  }

  .msg-data {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    @include clearfix();

    .msg-data-name {
      font-weight: 600;
      padding: 0 4px;
    }
  }

  .msg {
    color: #fff;
    padding: 0.4rem 0.9rem;
    border-radius: 0.4rem;
    position: relative;
    margin-bottom: 1rem;
    min-width: 2.5rem;

    &:after {
      content: '';
      position: absolute;
      bottom: 100%;
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
    }
  }

  .my-msg {
    .msg-data {
      .msg-data-name,
      .msg-data-time {
        float: right;
      }
    }

    .msg {
      float: right;
      background-color: #8bc34a;

      &:after {
        right: 0.8rem;
        border-bottom: 0.4rem solid #8bc34a;
      }
    }
  }

  .other-msg {
    .msg-data {
      .msg-data-name,
      .msg-data-time {
        float: left;
      }
    }

    .msg {
      float: left;
      background-color: #03a9f4;

      &:after {
        left: 0.8rem;
        border-bottom: 0.4rem solid #03a9f4;
      }
    }
  }
}

.comment {
  padding: 0.75rem;
  background-color: #fafafa;
  border-top: 1px solid #eee;
}
</style>
