<template>
  <div>
    <div class="content-top">
      <h3>Report</h3>
    </div>
    <div class="content-mdl">
      <ul class="nav nav-pills mb-3">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            :class="{ active: tabs.report === 'audience' }"
            @click.prevent="tabs.report = 'audience'"
            >Audience</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            :class="{ active: tabs.report === 'sale-opportunity' }"
            @click.prevent="tabs.report = 'sale-opportunity'"
            >Sale Opportunity</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            :class="{ active: tabs.report === 'ranking' }"
            @click.prevent="tabs.report = 'ranking'"
            >Ranking</a
          >
        </li>
      </ul>

      <!-- Tab Report: Audience -->
      <div v-show="tabs.report === 'audience'">
        <div class="card-list mb-3">
          <div
            class="tmpl"
            :class="{ active: tabs.audience === 'reach' }"
            @click.prevent="tabs.audience = 'reach'"
          >
            <div class="g-icon"><i class="icon id-goal"></i></div>
            <div class="g-title">Reach</div>
            <div class="g-center">
              <div class="value">
                {{ heading.reach.toLocaleString() }}
              </div>
            </div>
          </div>
          <div
            class="tmpl"
            :class="{ active: tabs.audience === 'visitors' }"
            @click.prevent="tabs.audience = 'visitors'"
          >
            <div class="g-icon"><i class="icon id-users"></i></div>
            <div class="g-title">Visitors</div>
            <div class="g-center">
              <div class="value">
                {{ heading.visitors.toLocaleString() }}
              </div>
            </div>
          </div>
          <div
            class="tmpl"
            :class="{ active: tabs.audience === 'location' }"
            @click.prevent="tabs.audience = 'location'"
          >
            <div class="g-icon"><i class="icon id-maps-and-flags"></i></div>
            <div class="g-title">Location</div>
            <div class="g-left">
              <div class="lbl">country</div>
              <div style="font-size: 1.25rem; text-align: center;">
                {{ heading.country }}
              </div>
              <div
                v-if="heading.countryValue"
                class="value"
                style="font-size: 1rem;"
              >
                {{ `${heading.countryValue.toLocaleString()} (%)` }}
              </div>
            </div>
            <div class="g-right">
              <div class="lbl">region</div>
              <div style="font-size: 1.25rem; text-align: center;">
                {{ heading.region }}
              </div>
              <div
                v-if="heading.regionValue"
                class="value"
                style="font-size: 1rem;"
              >
                {{ `${heading.regionValue.toLocaleString()} (%)` }}
              </div>
            </div>
          </div>
        </div>
        <div id="tab-container">
          <div v-show="tabs.audience === 'reach'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Reach: Numbers of users who receive impression of your shop
                information.
              </div>
              <div class="col-sm-2"></div>
            </div>
            <figure id="chart-reach" class="chart-container"></figure>
          </div>
          <div v-show="tabs.audience === 'visitors'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Visitors: Numbers of who visited your shop site.
              </div>
              <div class="col-sm-2"></div>
            </div>
            <figure id="chart-visitors" class="chart-container"></figure>
          </div>
          <div v-show="tabs.audience === 'location'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Location : Access Location of who visited your shop.
              </div>
              <div class="col-sm-2"></div>
            </div>
            <div class="mb-5">
              <h6 class="text-center mb-3">Country</h6>
              <div id="chart-location"></div>
            </div>
            <h6 class="text-center mb-3">Region</h6>
            <div id="chart-region"></div>
          </div>
        </div>
      </div>

      <!-- Tab Report: Sale Opportunity -->
      <div v-show="tabs.report === 'sale-opportunity'">
        <div class="card-list mb-3">
          <div
            class="tmpl"
            :class="{ active: tabs.saleOpportunity === 'lead' }"
            @click.prevent="tabs.saleOpportunity = 'lead'"
          >
            <div class="g-icon"><i class="icon id-network"></i></div>
            <div class="g-title">Lead</div>
            <div class="g-center">
              <div v-if="heading.lead" class="value">
                {{ heading.lead.toLocaleString() }}
              </div>
            </div>
          </div>
          <div
            class="tmpl"
            :class="{ active: tabs.saleOpportunity === 'inquiry' }"
            @click.prevent="tabs.saleOpportunity = 'inquiry'"
          >
            <div class="g-icon"><i class="icon id-question-mark"></i></div>
            <div class="g-title">Inquiry</div>
            <div class="g-center">
              <div v-if="heading.inquiry" class="value">
                {{ heading.inquiry.toLocaleString() }}
              </div>
            </div>
          </div>
          <div
            class="tmpl"
            :class="{ active: tabs.saleOpportunity === 'saved' }"
            @click.prevent="tabs.saleOpportunity = 'saved'"
          >
            <div class="g-icon">
              <i class="icon id-favorite-heart-button"></i>
            </div>
            <div class="g-title">Saved</div>
            <div class="g-center">
              <div v-if="heading.saved" class="value">
                {{ heading.saved.toLocaleString() }}
              </div>
            </div>
          </div>
        </div>
        <div id="tab-container">
          <div v-show="tabs.saleOpportunity === 'lead'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Lead:
              </div>
              <div class="col-sm-2"></div>
            </div>
            <figure id="chart-lead" class="chart-container"></figure>
          </div>
          <div v-show="tabs.saleOpportunity === 'inquiry'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Inquiry:
              </div>
              <div class="col-sm-2"></div>
            </div>
            <figure id="chart-inquiry" class="chart-container"></figure>
          </div>
          <div v-show="tabs.saleOpportunity === 'saved'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Saved:
              </div>
              <div class="col-sm-2"></div>
            </div>
            <figure id="chart-saved" class="chart-container"></figure>
          </div>
        </div>
      </div>

      <!-- Tab Report: Ranking -->
      <div v-show="tabs.report === 'ranking'">
        <div class="card-list mb-3">
          <div
            class="tmpl"
            :class="{ active: tabs.ranking === 'vendor' }"
            @click.prevent="tabs.ranking = 'vendor'"
          >
            <div class="g-icon"><i class="icon id-fireworks"></i></div>
            <div class="g-title">Vendor Ranking</div>
            <div class="g-left">
              <div class="lbl">This month</div>
              <div class="value">1</div>
            </div>
            <div class="g-right">
              <div class="lbl">Last month</div>
              <div class="value">2</div>
            </div>
          </div>
          <div
            class="tmpl"
            :class="{ active: tabs.ranking === 'product' }"
            @click.prevent="tabs.ranking = 'product'"
          >
            <div class="g-icon"><i class="icon id-medal"></i></div>
            <div class="g-title">Product Ranking</div>
            <div class="g-center">
              <div class="value" style="font-size: 1rem;">
                Flower arrangement and back drop service
              </div>
            </div>
          </div>
        </div>
        <div id="tab-container">
          <div v-show="tabs.ranking === 'vendor'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Vendor Ranking: by view of vendor site visitors.
              </div>
              <div class="col-sm-2"></div>
            </div>
            <figure id="chart-vendor-ranking" class="chart-container"></figure>
          </div>
          <div v-show="tabs.ranking === 'product'">
            <div class="row mb-3">
              <div class="col-sm-10">
                Product Ranking:
              </div>
              <div class="col-sm-2"></div>
            </div>
            <figure id="chart-product-ranking" class="chart-container"></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from 'chart.js'
import moment from 'moment'
import { gaIds } from '@/config.json'

Chart.defaults.global.maintainAspectRatio = false

export default {
  data() {
    return {
      startDate: moment()
        .subtract(29, 'days')
        .format('YYYY-MM-DD'),
      endDate: moment().format('YYYY-MM-DD'),
      heading: {
        reach: '--',
        visitors: '--',
        country: '--',
        countryValue: '--',
        region: '--',
        regionValue: '--',
        lead: '--',
        inquiry: '--'
      },
      tabs: {
        report: 'audience',
        audience: 'reach',
        saleOpportunity: 'lead',
        ranking: 'vendor'
      }
    }
  },

  computed: {
    vendorId() {
      return this.$store.state.vendor.id
    },
    vendorSlug() {
      return this.$store.state.vendor.slug
    }
  },

  watch: {
    vendorId() {
      this.initialize()
    }
  },

  mounted() {
    if (this.vendorId) {
      this.initialize()
    }
  },

  methods: {
    initialize() {
      this.getGAReport()
          .getLocation()
    },

    getGAReport() {
      gapi.client.request({
        path: '/v4/reports:batchGet',
        root: 'https://analyticsreporting.googleapis.com',
        method: 'POST',
        body: {
          reportRequests: [
            {
              viewId: gaIds,
              dateRanges: [
                { startDate: this.startDate, endDate: this.endDate }
              ],
              metrics: [
                { expression: 'ga:pageviews' },
                { expression: 'ga:uniquePageviews' }
              ],
              dimensions: [
                { name: 'ga:date' }
              ],
              filtersExpression: `ga:pagePath=~${this.vendorSlug}`
            }
          ]
        }
      }).then((res) => {
        const data = res.result.reports[0].data

        this.heading.reach = parseInt(data.totals[0].values[0], 10)
        this.heading.visitors = parseInt(data.totals[0].values[1], 10)

        this.renderChartReach(data.rows)
            .renderChartVisitor(data.rows)

      }, console.error.bind(console))

      return this
    },

    getLocation() {
      gapi.client.request({
        path: '/v4/reports:batchGet',
        root: 'https://analyticsreporting.googleapis.com',
        method: 'POST',
        body: {
          reportRequests: [
            {
              viewId: gaIds,
              dateRanges: [
                { startDate: this.startDate, endDate: this.endDate }
              ],
              metrics: [
                { expression: 'ga:pageviews' }
              ],
              dimensions: [
                { name: 'ga:country' }
              ],
              orderBys: [
                { fieldName: 'ga:pageviews', sortOrder: 'DESCENDING' }
              ],
              filtersExpression: `ga:pagePath=~${this.vendorSlug}`
            }
          ]
        }
      }).then((res) => {
        console.log(res)
      }, console.error.bind(console))

      return this
    },

    getLead() {
      this.query({
        ids: gaIds,
        metrics: 'ga:totalEvents',
        'start-date': this.startDate,
        'end-date': this.endDate,
        filters: `ga:eventCategory=~vendor-${
          this.vendorId
        }$;ga:eventAction=~(goToHomepage|goToFacebook|getLine|getPhoneNumber|goToIG)`
      }).then(res => {
        this.heading.lead = res.rows[0][0]
      })

      return
    },

    // Render Chart
    renderChartReach(rows) {
      const labels = rows.map(row => {
        return moment(row.dimensions[0], 'YYYYMMDD').format('DD MMM YY')
      })

      const data = rows.map(row => {
        return row.metrics[0].values[0]
      })

      new Chart(this.makeCanvas('chart-reach'), {
        type: 'line',
        data: {
          labels: labels,
          datasets: [
            {
              label: 'Reach',
              borderWidth: 1,
              backgroundColor: 'rgba(255,82,122, 0.5)',
              borderColor: 'rgba(255,82,122, 1)',
              pointBackgroundColor: 'rgba(255,82,122, 1)',
              data: data
            }
          ]
        },
        options: {
          legend: {
            display: false
          }
        }
      })

      return this
    },

    renderChartVisitor(rows) {
      const labels = rows.map(row => {
        return moment(row.dimensions[0], 'YYYYMMDD').format('DD MMM YY')
      })

      const data = rows.map(row => {
        return row.metrics[0].values[1]
      })

      new Chart(this.makeCanvas('chart-visitors'), {
        type: 'line',
        data: {
          labels: labels,
          datasets: [
            {
              label: 'Reach',
              borderWidth: 1,
              backgroundColor: 'rgba(255,82,122, 0.5)',
              borderColor: 'rgba(255,82,122, 1)',
              pointBackgroundColor: 'rgba(255,82,122, 1)',
              data: data
            }
          ]
        },
        options: {
          legend: {
            display: false
          }
        }
      })

      return this
    },

    rendorChartCountry() {

      return this
    },

    rendorChartRegion() {

      return this
    },

    renderChartLead() {
      this.query({
        ids: gaIds,
        metrics: 'ga:totalEvents',
        dimensions: 'ga:date,ga:eventAction',
        'start-date': this.startDate,
        'end-date': this.endDate,
        filters: `ga:eventCategory=~vendor-${
          this.vendorId
        }$;ga:eventAction=~(gotohome|gotofacebook|gotoig|getline|getphone)`
      }).then(res => {
        /*let data = res.rows.map(row => {
          return row[1]
        })*/
        let labels = res.rows.map(row => {
          return row[0]
        })

        labels = labels.map(label => {
          return moment(label, 'YYYYMMDD').format('DD MMM YY')
        })

        /*console.log(res)
          console.log(data, labels)*/

        new Chart(this.makeCanvas('chart-lead'), {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [
              {
                label: 'Facebook',
                backgroundColor: '#3b5998',
                data: [3, 7, 4, 2, 6]
              },
              {
                label: 'Phone',
                backgroundColor: '#00897b',
                data: [4, 3, 5, 4, 1]
              },
              {
                label: 'Homepage',
                backgroundColor: '#ff527a',
                data: [7, 2, 6, 4, 5]
              },
              {
                label: 'Line',
                backgroundColor: '#00b900',
                data: [4, 3, 5, 5, 1]
              },
              {
                label: 'Instagram',
                backgroundColor: '#262626',
                data: [7, 2, 6, 4, 2]
              }
            ]
          }
        })
      })

      return this
    },

    query(params) {
      return new Promise((resolve, reject) => {
        const data = new gapi.analytics.report.Data({ query: params })

        data
          .once('success', response => {
            resolve(response)
          })
          .once('error', response => {
            reject(response)
          })
          .execute()
      })
    },

    makeCanvas(id) {
      const container = document.getElementById(id)
      const canvas = document.createElement('canvas')
      const ctx = canvas.getContext('2d')

      container.appendChild(canvas)

      return ctx
    }
  }
}
</script>

<style lang="scss">
.chart-container {
  height: 320px;
}
</style>
