<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Select Image</h5>
          </div>
          <div class="modal-body d-flex">
            <div class="d-flex select-image-container flex-fill">
              <div class="col-upload-new flex-shrink-0">
                <h6>Upload image</h6>
                <upload-dropbox></upload-dropbox>
              </div>
              <div class="col-gallery d-flex flex-fill flex-column">
                <h6 class="flex-shrink-0">From Gallery</h6>
                <div
                  v-show="message"
                  class="msg-content"
                  v-html="message"
                ></div>
                <ul v-show="gallery.length" class="photo-list flex-fill">
                  <li v-for="photo in gallery" :key="photo.id">
                    <img :src="encodeURI(photo.image.thumbnail)" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" @click="$emit('ok')">OK</button>
            <button class="btn btn-secondary" @click="$emit('close')">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import UploadDropbox from '@/components/upload/dropbox'
import api from '@/api'

export default {
  components: {
    UploadDropbox
  },

  data() {
    return {
      message: null,
      gallery: []
    }
  },

  computed: {
    vendorId() {
      return this.$store.state.vendor.id
    }
  },

  mounted() {
    this.getGallery()
  },

  methods: {
    getGallery() {
      this.gallery = []
      this.message = '<i class="icon-spin6 animate-spin"></i> Loading...'

      api.vendor
        .getGallery(this.vendorId)
        .then(res => {
          if (res.data.length) {
            this.message = null
            this.gallery = res.data
          } else {
            this.message = 'No Gallery'
          }
        })
        .catch(err => {
          console.error(err)
        })

      return this
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/sass/mixins.scss';

.select-image-container {
  .col-upload-new {
    width: 16rem;
    margin-right: 1rem;
    // border-right: 1px solid #e9ecef;
  }

  h6 {
    margin-bottom: 1rem;
  }
}

.photo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 25rem;

  li {
    float: left;
    margin: 0.125rem;

    img {
      width: 12rem;
      height: 12rem;
      border-radius: 0.25rem;
      object-fit: cover;
    }
  }
}
</style>
