<template>
  <button
    class="btn btn-primary"
    :disabled="isSaving"
    @click="onClick"
    v-html="label"
  ></button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    },
    save: {
      type: Function,
      default() {
        return
      }
    }
  },
  data() {
    return {
      label: this.text,
      elResultText: null,
      resultTextTimer: null,
      isSaving: false
    }
  },
  methods: {
    onClick() {
      this.label = '<i class="icon-spin6 animate-spin"></i> Saving...'
      this.isSaving = true

      // Clear current msg.
      if (this.$el.parentElement.contains(this.elResultText)) {
        clearTimeout(this.resultTextTimer)
        this.removeText(this.elResultText)
      }

      this.save().then(res => {
        this.isSaving = false
        this.label = this.text

        if (res.data.success) {
          this.elResultText = this.addText({
            className: 'msg-success-text',
            text: 'Save successfuly'
          })
        } else {
          this.elResultText = this.addText({
            className: 'msg-error-text',
            text: 'Error'
          })
        }

        this.$el.parentElement.appendChild(this.elResultText)
        this.resultTextTimer = setTimeout(() => {
          this.removeText(this.elResultText)
        }, 3000)
      })
    },

    addText(data) {
      const node = document.createElement('span')
      node.className = data.className
      node.innerHTML = data.text

      return node
    },

    removeText(node) {
      this.$el.parentElement.removeChild(node)
    }
  }
}
</script>
