<template>
  <div class="sidebar flex-column flex-shrink-0" :class="{ show: open }">
    <div class="mb-close" @click="toggleSidebar">
      ×
    </div>
    <div class="user-info">
      <div
        class="avatar"
        :style="{ 'background-image': 'url(' + vendor.profile_image.url + ')' }"
      ></div>
      <div class="name">{{ vendor.name }}</div>
      <div class="plan" :style="{ color: planColor }">
        {{ vendor.plan_id | plan }}
        <router-link class="float-right" to="/account/promotion-point"
          ><span class="token-point"></span>{{ vendor.points }}</router-link
        >
      </div>
      <small
        >{{ vendor.plan_start_date | date('DD MMM YYYY') }} -
        {{ vendor.plan_end_date | date('DD MMM YYYY') }}</small
      >
    </div>
    <ul class="sidebar-nav flex-column flex-fill">
      <li>
        <router-link class="nav-link" to="/dashboard"
          ><i class="icon icon-home"></i> Dashboard</router-link
        >
      </li>
      <li>
        <a class="nav-link" href="#" data-toggle="sub-nav"
          ><i class="icon icon-cog-alt"></i> Manage Site
          <i class="icon icon-angle-down clp"></i
        ></a>
        <div class="sub-nav">
          <ul class="flex-column">
            <li>
              <router-link class="nav-link" to="/manage/info">Info</router-link>
            </li>
            <li>
              <router-link class="nav-link" to="/manage/lead">Lead</router-link>
            </li>
            <li>
              <router-link class="nav-link" to="/manage/product"
                >Services &amp; Products</router-link
              >
            </li>
            <li>
              <router-link class="nav-link" to="/manage/promotion"
                >Promotions</router-link
              >
            </li>
            <!-- <li><router-link class="nav-link" to="/manage/news">News</router-link></li> -->
            <li>
              <router-link class="nav-link" to="/manage/gallery"
                >Gallery</router-link
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <router-link class="nav-link" to="/mail"
          ><i class="icon icon-mail"></i> Inbox</router-link
        >
      </li>
      <li>
        <router-link class="nav-link" to="/report"
          ><i class="icon icon-chart-area"></i> Report</router-link
        >
      </li>
      <li>
        <a class="nav-link" href="#" data-toggle="sub-nav"
          ><i class="icon icon-user"></i> Account
          <i class="icon icon-angle-down clp"></i
        ></a>
        <div class="sub-nav">
          <ul class="flex-column">
            <li>
              <router-link class="nav-link" to="/account/membership"
                >Membership</router-link
              >
            </li>
            <li>
              <router-link class="nav-link" to="/account/promotion-point"
                >Promotion Point</router-link
              >
            </li>
            <li>
              <router-link class="nav-link" to="/account/membership-history"
                >Membership History</router-link
              >
            </li>
            <li>
              <router-link class="nav-link" to="/account/point-history"
                >Point History</router-link
              >
            </li>
            <li>
              <router-link class="nav-link" to="/account/invoices"
                >Invoices</router-link
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { plan } from '@/config.json'

export default {
  computed: {
    ...mapState({
      open: state => state.sidebarOpen,
      vendor: state => state.vendor
    }),

    planColor() {
      const idx = plan.map(e => e.id).indexOf(this.vendor.plan_id)

      if (idx > -1) {
        return plan[idx].color
      } else {
        return '#000'
      }
    }
  },

  mounted() {
    this.initialize()
  },

  methods: {
    initialize() {
      this.iniToggleSubnav()
    },

    iniToggleSubnav() {
      const sn = document.querySelectorAll('[data-toggle="sub-nav"]')

      ;[].forEach.call(sn, el => {
        el.addEventListener('click', () => {
          const x = el.nextElementSibling
          el.classList.toggle('expend')

          if (el.nextElementSibling.clientHeight) {
            x.style.maxHeight = 0
          } else {
            x.style.maxHeight = `${x.querySelector('ul').clientHeight}px`
          }
        })
      })
    },

    toggleSidebar() {
      this.$store.commit('toggleSidebar')
    }
  }
}
</script>

<style lang="scss">
@import '../assets/sass/mixins';

@media (max-width: 767.98px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;

    &.show {
      display: flex;
    }
  }

  .user-info {
    .avatar {
      width: 6rem;
      height: 6rem;
    }

    .name,
    .plan {
      text-align: center;
    }
  }

  .mb-close {
    position: absolute;
    top: 0;
    right: 0;
    font-family: Arial, 'sans-serif';
    font-size: 2.4rem;
    line-height: 1;
    width: 2.4rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 3.4rem;
    left: 0;
    height: calc(100% - 4.4rem);
    width: 12rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
  }

  .user-info {
    .avatar {
      width: 10rem;
      height: 10rem;
    }
  }

  .mb-close {
    display: none;
  }
}

.sidebar {
  background-color: #fff;

  a {
    color: #212121;
    position: relative;

    .icon {
      margin-right: 0.5rem;
    }
  }
}

.sidebar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;

  .router-link-active {
    color: #ff527a !important;
  }
}

.user-info {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .avatar {
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
  }

  .name {
    font-size: 1.125rem;
    margin-top: 0.5rem;
    line-height: 1.25;
    text-align: center;
  }

  .plan {
    margin-top: 0.5rem;
    @include clearfix();
  }
}

.sub-nav {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    a {
      padding-left: 2.7rem;
    }
  }
}

.clp {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin-right: 0 !important;
  transition: transform 0.2s linear;
}

.expend {
  .clp {
    transform: rotate(180deg);
  }
}
</style>
