<template>
  <div class="vd-container d-flex flex-column">
    <nav class="navbar flex-shrink-0">
      <button class="navbar-toggler" @click="toggleSidebar">
        <span class="icon icon-menu"></span>
      </button>
      <!-- <span class="navbar-brand">Dashboard v.2</span> -->
      <div class="current-nav" :class="{ show: showCurrentNav }">
        {{ this.$router.history.current.meta.label }}
      </div>
      <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
          <label class="lang-switch mt-2" for="lang-switch-app">
            <input id="lang-switch-app" v-model="langSwitch" type="checkbox" />
            <span class="slider round">
              <span class="lang">en</span>
              <span class="lang">th</span>
            </span>
          </label>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-3">
            <i class="icon icon-bell"></i>
            <span class="notification-count">99+</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link pl-3"><i class="icon icon-logout"></i></a>
        </li>
      </ul>
    </nav>
    <div id="main-container" class="cc d-flex flex-fill">
      <sidebar></sidebar>
      <div class="view-container flex-fill">
        <transition name="fade" mode="out-in">
          <router-view class="view"></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
// import AWS from 'aws-sdk/global'
import Sidebar from '@/components/sidebar'
import api from '@/api'
import config from '@/config.json'

const vendorId = 66

export default {
  name: 'App',

  components: {
    Sidebar
  },

  data() {
    return {
      showCurrentNav: false,
      langSwitch: true
    }
  },

  created() {
    this.iniGA()
      // .iniAWS()
      .getVendor(vendorId)
  },

  mounted() {
    this.iniScrollBar()
  },

  destroyed() {
    this.mainContainer.removeEventListener('scroll', this.handleScroll)
  },

  methods: {
    iniScrollBar() {
      this.mainContainer = document.getElementById('main-container')
      this.mainContainer.addEventListener('scroll', this.handleScroll)

      this.$router.beforeEach((to, from, next) => {
        this.$store.commit('closeSidebar')
        this.showCurrentNav = false

        next()
      })

      return this
    },

    iniGA() {
      api.googleAnalytics
        .getToken()
        .then(res => {
          gapi.auth.setToken({
            access_token: res.data.access_token
          })
        })
        .catch(err => {
          throw new Error(err)
        })

      return this
    },

    iniAWS() {
      AWS.config.update({
        region: config.S3.bucketRegion,
        credentials: new AWS.CognitoIdentityCredentials({
          IdentityPoolId: config.S3.IdentityPoolId
        })
      })

      return this
    },

    getVendor(vendorId) {
      return this.$store.dispatch('getVendor', { vendorId })
    },

    handleScroll() {
      if (this.mainContainer.scrollTop > 60) {
        this.showCurrentNav = true
      } else {
        this.showCurrentNav = false
      }
    },

    toggleSidebar() {
      this.$store.commit('toggleSidebar')
    }
  }
}
</script>

<style lang="scss">
@import './assets/sass/app';
</style>
