$body-bg: #f3f5f7;
$body-color: #212121;
$primary-color: #ff527a;

$theme-colors: (
  "primary": #ff527a
);

$font-family-base: 'Lato', 'Prompt', sans-serif;
$font-size-base: .875rem;

$input-btn-focus-width: .1rem;

$nav-pills-border-radius: 1.5rem;

$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: #212121;
$nav-tabs-link-active-bg: transparent;
