@font-face {
  font-family: 'Lato';
  src: url('./assets/sass/fonts/lato-v15-latin-regular.woff2') format('woff2'),
       url('./assets/sass/fonts/lato-v15-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/sass/fonts/lato-v15-latin-700.woff2') format('woff2'),
       url('./assets/sass/fonts/lato-v15-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/sass/fonts/prompt-v3-thai-regular.woff2') format('woff2'),
       url('./assets/sass/fonts/prompt-v3-thai-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/sass/fonts/prompt-v3-thai-700.woff2') format('woff2'),
       url('./assets/sass/fonts/prompt-v3-thai-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

