@font-face {
  font-family: 'icons';
  src: url('./assets/sass/fonts/icons.woff2') format('woff2'),
       url('./assets/sass/fonts/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ids';
  src: url('./assets/sass/fonts/ids.woff2') format('woff2'),
       url('./assets/sass/fonts/ids.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  width: 1rem;
  display: inline-block;
  text-align: center;
}

[class^="id-"]:before, [class*=" id-"]:before {
  font-family: 'ids';
  font-style: normal;
  font-weight: normal;
  width: 1rem;
  display: inline-block;
  text-align: center;
}

.icon-bell:before { content: '\e800'; }
.icon-user:before { content: '\e801'; }
.icon-cog:before { content: '\e802'; }
.icon-mail:before { content: '\e803'; }
.icon-home:before { content: '\e804'; }
.icon-logout:before { content: '\e805'; }
.icon-location:before { content: '\e806'; }
.icon-heart:before { content: '\e807'; }
.icon-star:before { content: '\e808'; }
.icon-picture:before { content: '\e809'; }
.icon-th-list:before { content: '\e80a'; }
.icon-th-large:before { content: '\e80b'; }
.icon-ok:before { content: '\e80c'; }
.icon-cancel:before { content: '\e80d'; }
.icon-plus:before { content: '\e80e'; }
.icon-minus:before { content: '\e80f'; }
.icon-link:before { content: '\e810'; }
.icon-lock:before { content: '\e811'; }
.icon-lock-open:before { content: '\e812'; }
.icon-eye:before { content: '\e813'; }
.icon-eye-off:before { content: '\e814'; }
.icon-tag:before { content: '\e815'; }
.icon-pin:before { content: '\e816'; }
.icon-search:before { content: '\e817'; }
.icon-video:before { content: '\e818'; }
.icon-flag:before { content: '\e819'; }
.icon-export:before { content: '\e81a'; }
.icon-edit:before { content: '\e81b'; }
.icon-comment:before { content: '\e81c'; }
.icon-attach:before { content: '\e81d'; }
.icon-phone:before { content: '\e81e'; }
.icon-cog-alt:before { content: '\e81f'; }
.icon-basket:before { content: '\e820'; }
.icon-cancel-circled:before { content: '\e821'; }
.icon-chat:before { content: '\e822'; }
.icon-spin6:before { content: '\e839'; }
.icon-menu:before { content: '\f0c9'; }
.icon-angle-down:before { content: '\f107'; }
.icon-info:before { content: '\f129'; }
.icon-attention-alt:before { content: '\f12a'; }
.icon-calendar-empty:before { content: '\f133'; }
.icon-sort-alt-down:before { content: '\f161'; }
.icon-box:before { content: '\f187'; }
.icon-trash:before { content: '\f1f8'; }
.icon-chart-area:before { content: '\f1fe'; }

.id-favorite-heart-button:before { content: '\e800'; }
.id-maps-and-flags:before { content: '\e801'; }
.id-medal:before { content: '\e802'; }
.id-speech-bubbles-comment-option:before { content: '\e805'; }
.id-users:before { content: '\e807'; }
.id-users-group:before { content: '\e808'; }
.id-question-mark:before { content: '\e809'; }
.id-goal:before { content: '\e80a'; }
.id-fireworks:before { content: '\e80b'; }
.id-network:before { content: '\e80c'; }
