.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 58, 71, 0.9);
  display: table;
  transition: opacity 0.3s;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  width: 90%;
  height: 80%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: transform .3s ease;
  transition: transform .3s ease;
}
