@media (max-width: 767.98px) {
  .cc {
    flex-direction: column;
  }

  .navbar-toggler {
    display: block;
  }

  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .view-container {
    min-width: 0;
    margin-left: 12.5rem;
  }

  .current-nav {
    margin-left: 13rem;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 992px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
