// Transition
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.collapse-enter-active, .collapse-leave-active {
  transition: height .3s ease;
}
.collapse-enter, .collapse-leave-to {
  height: 0;
}

.modal-enter, .modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-content {
  transform: scale3d(1.1, 1.1, 1);
}
.modal-leave-active .modal-content {
  transform: scale3d(0.9, 0.9, 1);
}

// Animate
.animate-spin {
  animation: spin 2s infinite linear;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
